.cards{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    max-width: 300px;
    margin-top: 20px;
}
.tarlas{
    width: 60;
    height: 60;
    background-color: chocolate;
    border: 1px solid #ccc;
    
}

.btn1{
    margin-bottom: 16px;
    padding: 8px 16px;
    background-color: aquamarine;
    border: none;
    cursor: pointer;
}
    